<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596723137776-j9kqo24cagk1o4a8c50dujnf0m98i8lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596723137776-j9kqo24cagk1o4a8c50dujnf0m98i8lp</string>
	<key>API_KEY</key>
	<string>AIzaSyBooxSEiBx7NOLAjfxcxU58NKxdfsFcSyU</string>
	<key>GCM_SENDER_ID</key>
	<string>596723137776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>somepie.LoginTest2</string>
	<key>PROJECT_ID</key>
	<string>login-test-3b815</string>
	<key>STORAGE_BUCKET</key>
	<string>login-test-3b815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596723137776:ios:042c228f033d80bb191635</string>
	<key>DATABASE_URL</key>
	<string>https://login-test-3b815-default-rtdb.firebaseio.com</string>
</dict>
</plist>